{% extends 'core/base.html' %}

{% block title %}Edit user info | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Edit profile</h1>
</div>
    <form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
        {% csrf_token %}
        <table>
           <tr>
                <td class="text-white">Username</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="text-white">ChatName</td>
                <td>{{ form_2.chat_username }}</td>
            </tr>
            <tr>
                <td class="text-white">First Name</td>
                <td>{{ form.first_name }}</td>
            </tr>
            <tr>
                <td class="text-white">Last Name</td>
                <td>{{ form.last_name }}</td>
            </tr>
            <tr>
                <td class="text-white">Email</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td class="text-white">About</td>
                <td>{{ form_2.about }}</td>
            </tr>
            <tr>
                <td class="text-white">Avatar</td>
                <td>{{ form_2.avatar }}</td>
            </tr>
        </table>
        {% if message %}
        <div class="mb-5 p-4 rounded-xl bg-blue-300 text-white">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        <input type="submit" value="Confirm" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">
    </form>
{% endblock content %}
